.add {
  padding: 10px 12px;
  margin-left: 6px;
  background-color: rgba(113, 90, 196, 1);
  color: #fff;
  border: none;
  border-radius: 2px;
  font-weight: bold;
}

.add:hover {
  background-color: rgba(113, 90, 196, 0.7);
  cursor: pointer;
}